.container{
    align-items: center;
    position: relative;
    top: 5%;
    left: 40%;    
    font-family: cursive;
}
.secondHeading{
    color: 	#00FF00 ;
    font-size: 1.5em;
}
button{
    background-color: 	#00FF00;
    box-sizing: none;
}
.main{
    position: relative;
    left: -30%;
    margin-bottom: 30px;
}
h4{
    display: inline-block;    
    font-size: 16px;  
    margin-right: 10px;  
}
.note{
    width: 70%;
    height: 50px;    
}
.note:focus{    
    border: none;
    border: 3px solid lightblue;
}
button{
    height: 2.3rem;
    width: 5rem;
    border-radius: 10px;
    margin-bottom: 6%;
}
.jsContainer{
    position: relative;
    left: 15%;
}
