body{
    box-sizing: 0px;
}

header{
    background-color: rgb(192, 43, 226);
    position: relative;
    height: 80px;
    margin: 0px;
}
h1{
    display: inline-block;
    color: white;    
    position: absolute;
    left: 30%;
}
input{
    display: inline-block;
    position: relative;
    left: 70%;
    top: 15%;
    width: 220px;
    border: 3px solid violet;
    border-radius: 20px;
    height: 5vh;
    padding: 10px;
}
button{
    display: inline-block;    
    background-color: rgb(29, 140, 243);
    color: white;
    border: 3px solid violet;
    border-radius: 20px;
     height: 5vh;
    padding: 10px;
}
.bars{
    position: absolute;
    left: 85%;
    top: 15%;
}
.sort{
    position: absolute;
    left: 92%;
    top: 15%;
}
.container{
    background-color: lightgray;
    height: 60vh;
    width: 50vw;
    position: relative;
    top: 17%;
    left: 25%;
    display: flex;
    align-items: baseline;
}